[Unit]
Description=Kanata keyboard remapper
After=graphical-session.target

[Service]
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/kanata -c /home/neolex/.config/kanata/kanata.kbd -p 7878 --no-wait
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
